*{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vh;
}
