
footer {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    border: none;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
}
